[alias]
	st = status
	ch = checkout
	co = commit
	aa = add --all
	rh = reset --hard
	pp = pull -p
	update = pull --rebase
	rewrite = commit --amend --no-edit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[credential]
	helper = cache --timeout 28800
[core]
	editor = nvim
    excludesfile = ~/.gitignore_global
[user]
	email = nathaniel.simard.42@gmail.com
	name = nathaniel
