let mapleader = " "

set clipboard^=unnamedplus
set nu
set relativenumber

nnoremap <leader>wl <C-w>l
nnoremap <leader>wh <C-w>h
nnoremap <leader>wj <C-w>j
nnoremap <leader>wk <C-w>k
nnoremap <leader>wv <C-w>v
nnoremap <leader>wb <C-w>S
nnoremap <leader>wq :q<Enter>
nnoremap <leader>wrl :vertical resize +5<Enter>
nnoremap <leader>wrh :vertical resize -5<Enter>
nnoremap <leader>wrj :res +5<Enter>
nnoremap <leader>wrk :res -5<Enter>
nnoremap <leader>wml <C-w>L 
nnoremap <leader>ww :bnext<Enter>

nnoremap / :action Find<CR>
nnoremap <leader>ss :action Find<CR>
nnoremap n :action FindNext<CR>
nnoremap N :action FindPrevious<CR>
nnoremap U :action $Redo<CR>
nnoremap ; :action AceJumpAction<CR>
nnoremap <leader>c :action GotoClass<CR>
nnoremap <leader>f :action GotoFile<CR>
nnoremap <leader>d :action CloseContent<CR>
nnoremap <leader>bt :action FileStructurePopup<CR>

map <leader>lg :action GotoDeclaration<CR>
map <leader>lh :action TypeHierarchy<CR>
map <leader>lu :action FindUsages<CR>
map <leader>lp :action ParameterInfo<CR>
map <leader>ld :action GuiDesigner.QuickJavadoc<CR>
map <leader>lt :action Vcs.UpdateProject<CR>
map <leader>ls :action GotoSuperMethod<CR>
map <leader>lf :action ReformatCode<CR>
map <leader>lr :action RenameElement<CR>
